/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
  }

  h1{
    font-weight: bold;
  }
  h2{
    text-transform: uppercase;
  }

  button{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }

  .cta-button {
    display: inline-block;
    
    background-color: #FF8C42;
    color: #2C3E50;
    text-decoration: none;
    
    margin-top: 20px;
    margin-left: 30vw;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  .cta-button:hover { 
    color: #FF8C42;
    background-color: #1F3A93;
    text-decoration: none;
   
    transition: background-color 0.3s ease;
    
  }